.form-group.required .control-label:after {
   content:"*";
   color:red;
   font-size:18pt;
}



.nav-link {
  display: block;
}
.nav-pills li a{
  float: none;
}
.nav-pills li{
  float: none;
}
.admin-container .panel {
  margin-top: 20px;
}
